.agents {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  repeat(19, 1fr);
  list-style: none;
  
}

.weapons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  repeat(18, 1fr);
  list-style: none
}

html {
  background-image: url("/src/components/3037905.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.App {
  text-align: center;
}

li {
  border: 1px solid black;
  margin: 1vw;
  background-color: rgba(128, 128, 128, 0.326);
  color: white;
}

img {
  max-width: 256px;
  max-height: 256px;
  padding-top: 20px;
}
.abouttext {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 30px;
  border: 1px solid black;
  margin: 1vw;
  background-color: rgba(128, 128, 128, 0.326);
}
.aboutlink {
  font-size: 30px;
}
.abouth1 {
  padding-top: 20px;
}
.wep {
  max-height: 100px;
}

h1 {
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
}

h3 {
  color: white;
}

.about {
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}

nav {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}



a {
  color: white;
}

ul {
  padding: unset;
}

@media (min-width: 768px) {
  .agents {
    grid-template-rows: repeat(5, 1fr) ;
    grid-template-columns: repeat(4, 1fr);
  }
  .weapons {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr) ;
  }
  .about {
  color: white;
  padding-left: 350px;
  padding-right: 350px;
  }
  
}
